html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*
    background-color: rgb(255, 241, 178);
    opacity: 1;
    background-image: url(../imagens/gif/estrelasL.webp);
    background-repeat: repeat;
    background-size: auto auto;
    background-attachment: local;
    background-position: center;
*/
}

/*////////////////////////////*/

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0px;
    border: 0px solid rgb(85, 85, 85);
}

#sectionNorte {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 205, 159);
}

/**/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: auto;
    height: 50%;
    border: 00px solid rgb(0, 22, 119);
}

#sectionCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(81, 255, 0);
}

#sectionLogoWoda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 255, 255);
}

#imageLogoWoda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(0, 0, 0);
}

#sectionButtonLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(204, 17, 17);
    margin: 10%;
}

#botaoLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 0px solid rgb(204, 201, 17);
}

#imageButtonLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 0px solid rgb(204, 17, 120);
}

/**/

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    border: 0px solid rgb(94, 34, 0);
}

#sectionSul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 102, 0);
    background-color: rgb(255, 178, 158);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.0);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid rgb(107, 31, 247);
    /* creates padding around scroll thumb */
}

/*
  .load
  {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid rgb(60, 255, 0);
  }
*/

.load {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1%;
    padding: 3%;
}

.load .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255);
    transform: scale(0.2);
    animation: animacao 1.2s infinite;
    /*border: 10px solid rgb(107, 31, 247);*/
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.7s;
}

.dot:nth-child(5) {
    animation-delay: 1s;
}

.dot:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes animacao {

    0%,
    100% {
        transform: scale(0.2);
    }

    50% {
        background-color: rgb(107, 31, 247);
        transform: scale(1);
    }
}

#statusSistema {
    display: none;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.0);
}

#imagemBotaoMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 5%;
    height: auto;
    border: 0px solid rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.0);
    margin: 2%;
}