@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(211, 145, 69);
    opacity: 1;
    background-image: url("../images/logos/LogoWODA2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 10px solid rgb(252, 178, 100);
    border-radius: 100px;
    margin-bottom: 100px;
}

/*////////////////////////////*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    border: 2px solid rgba(189, 118, 53, 0.2);
}

#sectionMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 159, 70, 0.7);
    /*background-color: rgb(255, 205, 159);*/
}

#sectionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    visibility: visible;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px solid rgb(255, 255, 255);
}

.ImagesButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.Buttons:hover {
    opacity: .7;
    cursor: pointer;
}

#sectionMenuButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 70px;
}

#buttonMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.0);
}

#imagemButtonMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0px solid rgba(85, 85, 85, .1);
    background-color: rgba(0, 0, 0, 0.0);
    margin: 2%;
    opacity: .8;
}

.ImagesButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 10px solid rgba(85, 85, 85, 0);
}

#imagemButtonMenu:hover {
    opacity: .7;
    cursor: pointer;
    animation: escala .5s alternate infinite;
}

/**/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0px solid rgb(0, 22, 119);
    margin-top: 120px;
    margin-bottom: 200px;
    background-color: rgba(252, 178, 100,0);
}

#config {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    /* posição absoluta ao elemento pai, neste caso o BODY */
    /* Posiciona no meio, tanto em relação a esquerda como ao topo */
    left: 50%;
    top: 50%;
    width: 300px;
    /* Largura da DIV */
    height: 250px;
    /* Altura da DIV */
    /* A margem a esquerda deve ser menos a metade da largura */
    /* A margem ao topo deve ser menos a metade da altura */
    /* Fazendo isso, centralizará a DIV */
    margin-left: -150px;
    margin-top: -125px;
    background-color: #FFF;
    color: #FFF;
    background-color: rgba(255, 136, 0, 0.979);
    text-align: center;
    /* Centraliza o texto */
    z-index: 1000;
    /* Faz com que fique sobre todos os elementos da página */
}

#seacher {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: auto;
}

#sectionSeacher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 10px solid rgb(252, 178, 100);
    border-radius: 100px;
}

#subSectionSeacher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-top: 10px solid rgba(252, 178, 100, 0);
    padding: 1%
}


#sectionGallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 1%;
    row-gap: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgba(255, 0, 0, 1);
    margin-top: 2%;
}

#sectionAdmin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#sectionAdminButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.SectionArts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 217, 0);
}

.SectionImageArts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.ImagesArts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: auto;
    border: 10px solid rgb(209, 209, 209);
    border-image: url('../images/texture/wood/wood01.jpg') 7% round;
    cursor: pointer;
}

#imageArt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: auto;
    border: 20px solid rgba(0, 0, 0, 0.1);
    margin: 1%;
    border-image: url('../images/texture/wood/wood01.jpg') 7% round;
    cursor: pointer;
}

.SectionAuthorArts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 184, 104);
}

.TitlesAuthor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(252, 178, 100);
    background-color: rgba(151, 126, 96, 0);
    font-size: 200%;
    /*
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    */
    color: rgb(44, 41, 0);
    font-weight: 700;
    background-color: rgb(252, 178, 100);
    margin: 1%;
    border-radius: 100px;
}

.SectionDataArtist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 0, 0);
    background-color: rgb(211, 145, 69);
    font-size: 100%;
    /*
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    */
    color: rgb(44, 41, 0);
    font-weight: 400;
}

.sectionImageAuthorArts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    border: 0px solid rgb(0, 183, 255);
}

.ImageAuthorsArts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    border: 0px solid rgb(255, 0, 0);
}

/**/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0px;
    border: 2px solid rgba(189, 118, 53, 0.5);
}

#sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 102, 0);
    background-color: rgba(255, 159, 70, 0.5);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
    font-size: 87%;
}

#info {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    /* posição absoluta ao elemento pai, neste caso o BODY */
    /* Posiciona no meio, tanto em relação a esquerda como ao topo */
    left: 50%;
    top: 50%;
    width: 200px;
    /* Largura da DIV */
    height: 70px;
    /* Altura da DIV */
    /* A margem a esquerda deve ser menos a metade da largura */
    /* A margem ao topo deve ser menos a metade da altura */
    /* Fazendo isso, centralizará a DIV */
    margin-left: -100px;
    margin-top: -100px;
    color: rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0.959);
    text-align: center;
    /* Centraliza o texto */
    z-index: 1000;
    /* Faz com que fique sobre todos os elementos da página */
    border: 5px solid rgba(255, 255, 255, 0.363);
    /*
    font-family: Arial, Helvetica, sans-serif;
   */
    font-size: 70%;
}

#titleArtistName {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(172, 116, 53);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   */
    text-shadow: 2px 2px 1px rgba(255, 153, 0, 0.589);
    font-size: 100%;
    border: 10px solid rgba(0, 0, 0, 0);
}

.Names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 10px solid rgba(255, 174, 0, 0);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    font-size: 100%;
    background-color: rgb(211, 145, 69);
    color: rgb(0, 4, 255);
    cursor: pointer;

    border-radius: 10px;
}

.DataArtist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    font-size: 100%;
    background-color: rgb(172, 116, 53);
    border-radius: 7px;
}

.Data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 10px solid rgba(0, 225, 255, 0);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    font-size: 100%;
    background-color: rgb(211, 145, 69);

    border-radius: 10px;
}

.Name:hover {
    color: rgb(0, 47, 255);
    cursor: pointer;
}

/***/
/***/
/***/
/***/
/***/
/***/
/***/
/***/

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(211, 145, 69);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: 3px solid rgb(252, 178, 100);
}

/*
  .load
  {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid rgb(60, 255, 0);
  }
*/

.load {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1%;
    padding: 3%;
}

.load .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255);
    transform: scale(0.2);
    animation: animacao 1.2s infinite;
    /*border: 10px solid rgb(107, 31, 247);*/
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.7s;
}

.dot:nth-child(5) {
    animation-delay: 1s;
}

.dot:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes animacao {

    0%,
    100% {
        transform: scale(0.2);
    }

    50% {
        background-color: rgb(107, 31, 247);
        transform: scale(1);
    }
}

@keyframes escala {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.5);
    }
}

/*
#statusSistema {
    display: none;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
*/

/* ARTIST.HTML */

#sectionRegisterButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 10px solid rgb(211, 145, 69);
    background-color: rgba(211, 145, 69, 0);
}

#sectionArtist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0px solid rgb(255, 0, 0);
}

.SectionArtistArts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 10px solid rgb(211, 145, 69);
}

.SectionImageArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 10px solid rgb(211, 145, 69);
}

#imageArtist {
    justify-content: center;
    align-items: center;
    border: 20px solid rgba(0, 0, 0, 0.1);
    border-image: url('../images/texture/wood/wood01.jpg') 10% round;
    margin: 1%;
}

.ImagesArtist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: auto;
    border: 10px solid rgba(255, 0, 0, 0.1);
}

.SectionArtsArtist {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1%;
    row-gap: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(211, 145, 69);
}

.ArtsArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 10px solid rgb(172, 116, 53);
    background-color: rgb(211, 145, 69);
}

.TitlesArts {
    justify-content: flex-start;
    align-items: flex-start;
    width: 94%;
    height: auto;
    border: 0px solid rgb(172, 116, 53);
}

.TitlesNames {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(172, 116, 53);
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    text-shadow: 2px 2px 1px rgba(255, 153, 0, 0.2);
    font-size: 100%;
    border: 10px solid rgba(0, 0, 0, 0);
    font-weight: 700;
    margin: 1%;
}

.DataTitlesArtist {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px 1px rgba(255, 153, 0, 0.2);
    font-size: 100%;
    border: 10px solid rgba(0, 0, 0, 0);
    font-weight: 700;
    background-color: rgb(252, 178, 100);
    border-radius: 100px;
}

.TitlesArtist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    text-shadow: 2px 2px 1px rgba(255, 153, 0, 0.2);
    font-size: 100%;
    border: 0px solid rgb(0, 0, 0);
    font-weight: 500;
    color: rgb(68, 0, 255);
}

.EditButtonsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.TextDescription {
    justify-content: center;
    align-items: center;
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    font-size: 100%;
    border: 10px solid rgba(0, 0, 0, 0);
    text-align: justify;
}

#buttonsZoom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(211, 145, 69);
}

.tabela {
    /*margin-top: 30px;*/
    /*border-collapse: collapse;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, .5);
}

.tabela th {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    border: 1px solid rgb(252, 178, 100);
    text-align: center;
    background-color: #66bbff;
    color: #fff;
    padding: 4px 4px 4px 4px;
}

.tabela td {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    ;
    border: 1px solid rgb(252, 178, 100);
    padding: 4px 4px 4px 4px;
    background-color: rgb(211, 145, 69);
}

.buttonsAdminOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 178, 100);
}

.Botao1 {
    width: 70px;
    height: auto;
    text-decoration: none;
    background-color: #66bbff;
    padding: 4px 4px 4px 4px;
    color: #fff;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.Botao2 {
    width: 70px;
    height: auto;
    text-decoration: none;
    background-color: #d51213;
    padding: 4px 4px 4px 4px;
    color: #fff;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-bottom: 10px solid rgb(252, 178, 100);
    border-top: 10px solid rgb(252, 178, 100);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

input:invalid~span::after {
    content: "✖";
    padding-left: 5px;
    position: absolute;
}

input:valid~span::after {
    content: "✓";
    padding-left: 5px;
    position: absolute;
}

#sectionTableArtists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sectionTableArts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(211, 145, 69,0.5);
}

#sectionAssociate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-color: rgb(211, 145, 69);
    color: rgb(0, 54, 155);
    font-weight: 700;
    width: 100%;
    border: 1px solid rgba(255, 159, 70, 1);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.Images
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(211, 145, 69);
    color: rgb(0, 54, 155);
    font-weight: 700;
    width: 100%;
    border: 1px solid rgba(255, 159, 70, 1);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}